/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #CB1719;
	background: #f5f5f5;
}

a {
	color: #CB1719;
	text-decoration: none;
    word-wrap: break-word;
}

a:hover,
a:active {
	color: #333;
}

.txtC {
	text-align: center;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: #fff;
	padding: 3em;
	border-top: 30px solid #f5f5f5;
}

.container > header img{
	margin-left: -32px;
	margin-bottom: 25px
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;

	color: #454544
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
	max-width: 69em;
}

.column {
	float: left;
	width: 50%;
	padding: 0 4%;
	min-height: 300px;
	position: relative;
	margin-bottom: 50px;
}

.column:nth-child(1n) {
	/*box-shadow: -1px 0 0 rgba(0,0,0,0.1); */
}

.column .content {
	background: white;
	padding: 25px;
	position: relative;

	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

.column .content .news {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: inline-block;
	position: absolute;
	right: -2px;
	top: 13px;
	background: #CB1719;
	padding: 3px 8px;
	color: white;
	font-size: 16px;
}

.column .content .news:before{
	content: "";
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 25px solid #CB1719;
	position: absolute;
	right: 55px;
	top: 0px;
}

.column .content .news:after{
	content: "";
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 25px solid #CB1719;
	position: absolute;
	right: -24px;
	top: 0px;
}

.column .content img {
	border-radius: 50%;
	height: 130px;
	width: 130px;
	box-shadow: 0px 0px 0px 2px;
	display: inline-block;
	margin-bottom: 30px
}

.column .content h1 {
	margin: 0;
	margin-bottom: 8px
}

.column .content p {
	margin-bottom: 20px
}

.column .content .little {
	font-size: .8em
} 

.column .content button {
	margin-bottom: 20px
}

.column p {
	font-weight: 300;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
	text-align: left;
	line-height: 1.5;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	color: #fff;
	background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #CB1719;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: #A5281B;
}

@media screen and (max-width: 790px) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}